.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;

  .calculator-editor {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 480px) {
    flex-direction: row;
  } 
}